<ion-header>
  <!-- <ion-toolbar>
    <ion-title>contact</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  <div class="explore">

<p class="text" style="background-color: lightgrey;"> Explore</p>

  </div>

  <div class="organizations">

<div class="org1">
  <p>1. Ahla Fawda</p>
</div>

<div class="desc1">
Ahla Fawda is a nongovernmental (NGO) organization that aims to use joy to 
create an eco-friendly environment within Beirut. During the pandemic, the 
organization partnered with the Lebanon COVID-19 tas
force to raise money 
and distribute 850 boxes of food to those in need. To assist residents of Beirut, 
Ahla Fawda also launched a fundraiser to raise money for food, clothes, and 
home items that will be distributed to individuals in need

</div>

<div class="e1"> Contact: <a href="mailto:ahlafawda@gmail.com?subject=donate food" style="background-color: rgb(250, 250, 174);">ahlafawda@gmail.com</a> </div>

<div class="org2">
  <p>2. Beit El Baraka</p>
</div>

<div class="desc2">

Beit El Bara
a, a nonprofit organization based in Beirut, is wor
ing to assist 
elderly individuals. The nonprofit provides medical support and constructed 
a free supermar
et to help elderly citizens access food and health care. In 
wa
e of the explosion, Beit El Bara
a is raising money to provide food and 
rebuild homes to individuals in need

</div>

<div class="e2">Contact: <a href="mailto:Beitelbaraka@hotmail.com?subject=donate food" style="background-color: rgb(252, 221, 165);">Beitelbaraka@hotmail.com</a> </div>

<div class="org3">
  <p>3. FoodBlessed</p>
</div>

<div class="desc3">

FoodBlessed is a community driven nonprofit organization wor
ing with 
volunteers and businesses to help reduce food waste and hunger within 
Lebanon. FoodBlessed also organizes projects, such as the Community 
Fridge, and offers solutions to help community members reduce food waste. 

</div>
<div class="e3"> Contact: <a href="mailto:foodblessed@hotmail.com?subject=donate food" style="background-color: rgb(250, 250, 174);">foodblessed@hotmail.com</a> </div>


  </div>

  <!-- <footer style="display: grid;position: relative;justify-content: center;"> -->
  <div class="bar bar-footer bar-light" style="background-color: white;"> 
    <div class="nav-wrap">

    <div class="nav-bar">
        <ul>
            <li>
                
                  <a [routerLink]="['/home']" class="small-text"><ion-icon name="home" class="icon1"></ion-icon> <br>
                  <span>Home</span></a>
            </li>
            <li>
                
                  <a [routerLink]="['/account']" class="small-text"><ion-icon name="person-circle" class="icon2"></ion-icon> <br>
                  <span>Account</span></a>
            </li>
            <li>
                
                <a [routerLink]="['/contact']" class="small-text"><ion-icon name="chatbox" class="icon3"></ion-icon> <br>
                  <span>Contact</span></a>
            </li>
            <li>
              
                <a [routerLink]="['/donate']" class="small-text"><ion-icon name="hand-right" class="icon4"></ion-icon> <br>
                  <span>Donate</span></a>
            </li>
        </ul>
    </div>

</div>
</div>
<!-- </footer> -->
</ion-content>
