.bar {
  //  display: flex;
  //  flex-direction: column;
  display: grid;
  //   position: fixed;
  align-items: center;
  justify-content: center;

  position: relative;
  background-color: white;
  //  width: 100%;
  //  height: 10%;
  width: 100%;
  height: 8rem;

  text-align: center;
}

.nav-wrap {

  width: 100%;
  height: 8rem;

  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  // text-transform: uppercase;

  text-align: center;
}

nav-bar {
  width: 100%;
  height: fit-content;
  background-color: black;

}

.nav-bar ul {
  padding: 0;
  box-sizing: border-box;
  width: fit-content;

}

.nav-bar ul li {

  display: inline-block;
  position: relative;
  float: none;
  text-align: center;
  font-size: 20px;
  border-right: 1px solid grey;
  border-width: thin;
  margin: auto;
  text-decoration: none;
  letter-spacing: 0.3rem;
  margin: 1rem;
  width: fit-content;


}



.nav-bar ul li a {

  letter-spacing: 2px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(177, 100, 0);

}

.nav-bar ul li a:hover {

  border-bottom: 1px solid rgb(177, 100, 0);
}

.icon1,
.icon2,
.icon3,
.icon4 {
  height: 38px;
  width: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8rem;
  top: 60%;
  /* Height of the footer */
  background: black;
  margin: auto;
}