<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: left; margin: auto;">Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating" style="margin-top: auto;">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

     <small>
      Please provide the username or email address that you used when you signed
      up for your account.
    </small>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="outline" style="display: block; position: relative; margin: auto; width: 30%;margin-top: 4%;">Send</ion-button>
      </ion-col>
    </ion-row>

   
  </form>

  <footer style="display: grid;position: relative;justify-content: center;">
  <div class="nav-wrap">

    <div class="nav-bar">
        <ul>
            <li>
                
                  <a [routerLink]="['/home']" class="small-text"><ion-icon name="home" class="icon1"></ion-icon> <br>
                  <span>Home</span></a>
            </li>
            <li>
                
                  <a [routerLink]="['/account']" class="small-text"><ion-icon name="person-circle" class="icon2"></ion-icon> <br>
                  <span>Account</span></a>
            </li>
            <li>
                
                <a [routerLink]="['/contact']" class="small-text"><ion-icon name="chatbox" class="icon3"></ion-icon> <br>
                  <span>Contact</span></a>
            </li>
            <li>
              
                <a [routerLink]="['/donate']" class="small-text"><ion-icon name="hand-right" class="icon4"></ion-icon> <br>
                  <span>Donate</span></a>
            </li>
        </ul>
    </div>

</div>
</footer>
</ion-content>
